# request sending and authorization tools
requests>=2.20.0
globus-sdk<3

# 'websockets' is used for the client-side websocket listener
websockets==9.1

# table printing used in search result rendering
#
# TODO: remove and use our own formatting code OR adjust the version bounds
# once we know what the versioning scheme in use is
#
# see also:
#   https://github.com/foutaise/texttable/issues/77
texttable==1.6.4

# versions >=0.2.3 requires globus-sdk v3
# TODO: update pin to latest when globus-sdk is updated
fair_research_login==0.2.2

# dill is an extension of `pickle` to a wider array of native python types
# pin to the latest version, as 'dill' is not at 1.0 and does not have a clear
# versioning and compatibility policy
dill==0.3.4
