requests>=2.20.0
jsonschema>=3.2.0
configobj
texttable
psutil
python-daemon
fair_research_login
globus_sdk<3
dill>=0.3
typer>=0.3.0
funcx>=0.3.3,<0.4.0
# disallow use of 22.3.0
# whl packages on some platforms seem to produce ZMQ issues
# FIXME: re-evaluate this and see if the version pin can be removed after the
# forwarder is upgraded to a newer libzmq
pyzmq>=22.0.0,!=22.3.0
retry

# 'parsl' is a core requirement of the funcx-endpoint, essential to a range
# of different features and functions
# pin exact versions because it does not use semver
parsl==1.1.0
