#!/usr/bin/make -f

# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/default.mk

DEB_BUILD_OPTIONS += noautodbgsym
export DEB_BUILD_OPTIONS

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

name := @PACKAGE_NAME@
package_executable := @PIP_NAME@
VIRTUAL_ENV := /opt/$(name)/venv-py39
TMP_BUILD_DIR := debian/$(name)-tmp
TMP_VIRTUAL_ENV := $(TMP_BUILD_DIR)$(VIRTUAL_ENV)
DEST_ROOT := debian/$(name)
DEST_VIRTUAL_ENV := $(DEST_ROOT)$(VIRTUAL_ENV)
PYTHON3 := /opt/globus-python/bin/python3

_sysconfdir=/etc
_sbindir=/usr/sbin
_unitdir=/lib/systemd/system

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	$(PYTHON3) -mvenv $${PWD}/$(TMP_VIRTUAL_ENV)
	. "$${PWD}/$(TMP_VIRTUAL_ENV)/bin/activate"; \
	set -x; \
	python -mpip install --no-index --no-cache-dir -I --compile -U prereqs/pip-*.whl; \
	python -mpip install --no-index --no-cache-dir -I --pre --compile --find-links=file://$${PWD}/prereqs/ "@PIP_NAME@"

.PHONY: override_dh_auto_clean
override_dh_auto_clean:
	rm -rf $(TMP_BUILD_DIR) build dist

.PHONY: override_dh_shlibdeps
override_dh_shlibdeps:    # empty == we're ignoring it for our purposes.

.PHONY: override_dh_auto_install
override_dh_auto_install:
	set -ex; \
	. "$(TMP_VIRTUAL_ENV)/bin/activate"; \
	$(PYTHON3) -mvenv $${PWD}/$(TMP_VIRTUAL_ENV) ; \
	install -d -m 755 \
	  "$(DEST_VIRTUAL_ENV)" \
	  "$(DEST_ROOT)$(_sbindir)" \
	  "$(DEST_ROOT)$(_unitdir)"; \
	sed -i "$${PWD}/package_shim.sh" -e "s|@VIRTUAL_ENV@|$(VIRTUAL_ENV)|"
	install -m 755 "$${PWD}/package_shim.sh" "$(DEST_ROOT)$(_sbindir)/$(package_executable)"
	tar -C $(TMP_VIRTUAL_ENV) -cf - . | tar -C $(DEST_VIRTUAL_ENV) -xf -; \
	set +x; \
	for script in "$(DEST_VIRTUAL_ENV)"/bin/*; do \
	    if [ ! -L "$$script" ] && [ -f "$$script" ]; then \
	        shbang="$$(head -2c "$$script")"; \
	        if [ "$$shbang" = "#!" ]; then \
	            sed -i "$$script" -e "1,2s|$${PWD}/$(TMP_VIRTUAL_ENV)|$(VIRTUAL_ENV)|g"; \
	        fi; \
	    fi; \
	done; \
	set -x; \
	rm -rf $(DEST_VIRTUAL_ENV)/systemd \
	  $(DEST_VIRTUAL_ENV)/lib/python*/site-packages/tests; \
	sed -i "$(DEST_VIRTUAL_ENV)/bin/activate" -e "s|^VIRTUAL_ENV=.*|VIRTUAL_ENV=$(VIRTUAL_ENV)|"; \
	ln -s "python$$($(PYTHON3) -c 'import sys; print("{}.{}".format(*sys.version_info))')" "$(DEST_VIRTUAL_ENV)/lib/python"; \
	:

.PHONY: override_dh_python3
override_dh_python3:
	dh_python3 --shebang=$(PYTHON3)

.PHONY: override_dh_builddeb
override_dh_builddeb:
	dh_builddeb -- -Zxz

.PHONY: override_dh_auto_build
override_dh_auto_build:    # empty == we do it ourselves in auto_install (above)

%:
	dh $@ --with python3 --with systemd
