{#-
  This is the default user-endpoint-process (UEP) template provided with
  newly-configured endpoints.  Endpoints generate a UEP-specific configuration
  by processing this YAML file as a Jinja template against SDK-provided (user)
  variables -- please modify this template to suit your site's requirements.

  As an optional security and user-debugging aid, consider also specifying a
  JSON schema for the user-provided variables.  If `user_config_schema.json`
  exists within the same directory, then before starting the UEP, the MEP will
  validate the variables against the schema before rendering.  This provides
  an administrative peace of mind that users cannot specify invalid arguments.
  From a usability standpoint, however, it also makes invalid values
  prominently visible to users.

  There are a number of example configurations available in the documentation:
     https://globus-compute.readthedocs.io/en/stable/endpoints.html#example-configurations
-#}

{#- --- BEGIN DYNAMIC UV LOGIC ---

  During the Jinja template rendering, this block checks what is known about
  the given and requested environments (e.g., Python version, SDK version,
  requested packages), and then defines the template variable
  `default_worker_init`.  This block does not directly render anything, but
  `default_worker_init` is utilized in the endpoint configuration block at the
  bottom of this file.  Effectively, the output of this block is a set of
  commands that will be run as part of the worker initialization.

  If you do not want to allow task-submit-time environment specification (i.e.,
  for the user to submit a list of package `requirements`), then you may set
  `_arbitrary_user_interaction` to `false`.  If so, consider also removing the
  unused template variables from `user_config_schema.json`.

  For a longer form discussion on this file, see:
    https://globus-compute.readthedocs.io/en/stable/endpoints/templates.html#task-time-python-environments
-#}
{%- set _arbitrary_user_interaction = true %}

{%- set _rt = _GC.user_runtime %}
{%- set py_ver = (_rt.python.version_tuple | join(".")) if _rt.python is defined and _rt.python.version_tuple is defined else none %}
{%- set sdk_ver = (_rt.globus_compute_sdk_version[1:-1]) if _rt.globus_compute_sdk_version is defined else none %}
{%- set requirements = requirements | default(none) %}
{%- set env_name = [
    ("py" ~ py_ver) if py_ver else none,
    ("sdk" ~ sdk_ver) if sdk_ver else none,
    ("reqs$(echo -en " ~ requirements ~ " | md5sum | awk '{print $1}')") if requirements else none,
  ] | select | join("-") or none
%}

{%- set default_worker_init %}
  {%- if env_name is not none -%}
# The environment initialization script creates (or reuses) a per-task Python
# virtual environment with `uv`, matched to the submitting user's Python and
# Globus Compute SDK versions.  If the user supplies a `requirements` option --
# a requirements.txt file as a multi-line string -- those packages are
# installed into the environment as well.

export PATH="$HOME/.local/bin:$PATH"
if ! command -v uv &> /dev/null; then
  echo "uv command not found; installing from https://astral.sh/uv ..."
  curl -LsSf https://astral.sh/uv/install.sh | sh
fi

# Enable some useful performance tuning and debugging options.  See
# https://docs.astral.sh/uv/reference/environment/ for details.
export UV_LINK_MODE=hardlink
export UV_COMPILE_BYTECODE=1
export UV_TORCH_BACKEND=auto

# Dependency Cooldown (recommended):
# Uncomment to prevent `uv` from installing packages published within a
# certain timeframe, giving maintainers time to fix a compromised release.
# See https://docs.astral.sh/uv/reference/cli/#uv-run--exclude-newer
# export UV_EXCLUDE_NEWER="1 week"

# Create the environment, if necessary, and activate it.
ENV_PATH="$HOME/.globus_compute/venvs/{{ env_name }}"
uv venv --allow-existing "$ENV_PATH"{% if py_ver %} --python {{ py_ver }}{% endif %}
source "$ENV_PATH/bin/activate"

# Install globus-compute-endpoint & user requirements, ignoring
# dependency cooldowns for the former.
UV_EXCLUDE_NEWER=false uv pip install globus-compute-endpoint{% if sdk_ver %}=={{ sdk_ver }}{% endif %}

    {%- if _arbitrary_user_interaction and requirements %}
# Install user requirements.
uv pip install -r <(echo -e {{ requirements }})
    {%- endif %} {# _arbitrary_user_interaction and requirements #}
  {%- endif %} {# env_name is not none #}

  {%- if _arbitrary_user_interaction and worker_init is defined %}
# Run user-specified worker_init.
eval '$(echo -e {{ worker_init }} )'
  {%- endif %} {# _arbitrary_user_interaction and worker_init is defined #}
{%- endset %} {# default_worker_init #}

{#- --- END DYNAMIC UV LOGIC --- -#}

{#- --- Endpoint settings start here --- -#}

{#- Idle heartbeats; see: https://globus-compute.readthedocs.io/en/stable/endpoints/config_reference.html#idle-timeout #}
idle_heartbeats_soft: 10
idle_heartbeats_hard: 5760

endpoint_setup: {{ endpoint_setup|default() }}

engine:
  type: GlobusComputeEngine
  max_workers_per_node: 1

  # Configuration for the compute backend (e.g., HPC cluster, personal laptop)
  provider:
    type: LocalProvider

    min_blocks: 0
    max_blocks: 1
    init_blocks: 1

    worker_init: |
      {{ default_worker_init | default("") | indent(6) }}