apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-endpoint-instance-config
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app: {{ .Release.Name }}
data:
  config.py: |
    from funcx_endpoint.endpoint.utils.config import Config
    from funcx_endpoint.executors import HighThroughputExecutor
    from parsl.providers import LocalProvider


    config = Config(
        executors=[
            HighThroughputExecutor(
                max_workers_per_node={{ .Values.maxWorkersPerPod }},
                provider=LocalProvider(
                    init_blocks={{ .Values.initBlocks }},
                    min_blocks={{ .Values.minBlocks }},
                    max_blocks={{ .Values.maxBlocks }},
                ),
            )
        ],
        heartbeat_period=15,
        heartbeat_threshold=200,
        log_dir='{{ .Values.logDir }}',
        funcx_service_address="{{ .Values.funcXServiceAddress }}/v2",
        detach_endpoint={{- ternary "True" "False" .Values.detachEndpoint }}
    )

    # For now, visible_to must be a list of URNs for globus auth users or groups, e.g.:
    # urn:globus:auth:identity:{user_uuid}
    # urn:globus:groups:id:{group_uuid}
    meta = {
        "name": "default",
        "description": "",
        "organization": "",
        "department": "",
        "public": True,
        "visible_to": []
    }
