name: CI/CD

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    services:
      rabbitmq:
        image: rabbitmq
        env:
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest
        ports:
          - 5672:5672
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - name: install pre-commit
        run: |
          python -m pip install -U pip setuptools wheel
          python -m pip install pre-commit
      - name: run pre-commit
        run: pre-commit run -a

  test-sdk:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
    name: "Test SDK on py${{ matrix.python-version }} x ${{ matrix.os }} "
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: install requirements
        run: |
          python -m pip install tox
      - name: run tests
        run: |
          cd funcx_sdk
          tox -e py

  test-endpoint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: install requirements
        run: |
          python -m pip install -U pip setuptools wheel
          python -m pip install './funcx_endpoint[test]'
          pip install safety
      - name: run safety check
        run: safety check
      - name: run pytest
        run: |
          PYTHONPATH=funcx_endpoint python -m coverage run -m pytest funcx_endpoint/tests/funcx_endpoint
          PYTHONPATH=funcx_endpoint python -m coverage run -m pytest funcx_endpoint/tests/test_rabbit_mq
  publish:
    # only trigger on pushes to the main repo (not forks, and not PRs)
    if: ${{ github.repository == 'funcx-faas/funcX' && github.event_name == 'push' }}
    needs:
      - lint
      - test-sdk
      - test-endpoint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [ 3.6, 3.7, 3.8, 3.9 ]
    steps:
    - uses: actions/checkout@master
    - name: Extract tag name
      shell: bash
      run: echo "##[set-output name=imagetag;]$(echo ${GITHUB_REF##*/})"
      id: extract_tag_name

    - name: Build funcX-endpoint Image for selected python version
      uses: elgohr/Publish-Docker-Github-Action@master
      env:
        PYTHON_VERSION: ${{ matrix.python }}
      with:
        dockerfile: Dockerfile-endpoint
        name: funcx/kube-endpoint:${{ steps.extract_tag_name.outputs.imagetag }}-${{ matrix.python }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        buildargs: PYTHON_VERSION
