name: hourly

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
    inputs:
      tags:
        required: false
        description: "manual test"

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - run: python -m pip install -U pip setuptools
    - run: python -m pip install tox
    - name: Run smoke tests to check liveness of hosted services
      env:
        FUNCX_SMOKE_CLIENT_ID: ${{ secrets.API_CLIENT_ID }}
        FUNCX_SMOKE_CLIENT_SECRET: ${{ secrets.API_CLIENT_SECRET }}
      run: |
        cd smoke_tests
        make prod

  slack-notify:
    needs: [smoke-test]
    if: always()
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: python -m pip install -U requests
      - name: notify slack
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_CHANNEL: '#commits'
          SLACK_MESSAGE_TITLE: 'Hourly Automated Tests'
          SLACK_FAILURE_MESSAGE: '@channel - Hourly run failed'
        run: ./.github/_support/github-slack-notify.py ${{ needs.smoke-test.result }}
