name: smoke_test

on:
  push:
    paths:
      - 'smoke_tests/**'
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    paths:
      - 'smoke_tests/**'

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - run: python -m pip install -U pip setuptools
    - run: python -m pip install tox
    - name: Run smoke tests (localdeps)
      env:
        FUNCX_SMOKE_CLIENT_ID: ${{ secrets.API_CLIENT_ID }}
        FUNCX_SMOKE_CLIENT_SECRET: ${{ secrets.API_CLIENT_SECRET }}
      run: |
        cd smoke_tests
        tox -e localdeps
